/* Wirite css here */
:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/login-background.jfif');
  background-size: cover;

  .full-width {
    width: 100%;
  }

  .remove-bullet {
    list-style-type: none;
  }

  .account {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }

  .form {
    padding: 1rem;
    .card {
      max-width: 30rem;
      min-width: 10rem;
      width: 100%;
    }
    .title {
      text-align: center;
      h1 {
        width: 100%;
        text-align: center;
      }
    }
    .body {
      padding: 2rem;
    }
  }

}
