<form class="form" [formGroup]="loginFormGroup" (ngSubmit)="submit(loginFormGroup.value)">
  <vrmg-input
    class="qa-email-input full-width"
    type="email"
    matInput
    label="Email"
    placeholder="Ex. pat@example.com"
    [value]="loginFormGroup.controls.email.value"
    (valueChange)="loginFormGroup.controls.email.setValue($event)"
  ></vrmg-input>
  <vrmg-input
    class="qa-password-input full-width"
    type="password"
    matInput
    label="Password"
    placeholder="Ex. 0ThisIsAVeryStorngPassword0"
    [value]="loginFormGroup.controls.password.value"
    (valueChange)="loginFormGroup.controls.password.setValue($event)"
  ></vrmg-input>
  <ul class="qa-error-messages full-width" *ngIf="errors?.length">
    <li class="remove-bullet" *ngFor="let error of errors">
      <vrmg-error *ngIf="error" [message]="error.message"></vrmg-error>
    </li>
  </ul>
  <vrmg-button class="qa-submit-button" text="submit" type="submit"></vrmg-button>
</form>
